
@import '../../../assets/page-content/color.scss';
.video-main {
  display: grid;
  grid-template-columns: 2fr 1fr 250px 1fr 1fr;
  grid-template-rows: repeat(7,100px);

  .video{
      grid-column:1/2;
      grid-row: 1/6;
  }

  .modules{
      grid-column:3/5;
      grid-row: 1/8;
      box-shadow: -12px 2px 24px rgba(0,0,0,.2);
      overflow-y: scroll;
      height: 100%;
      padding-top: 3em;
      margin-top:-1em;
  }
  .headline{
      grid-column:1/2;
      grid-row: 5/6;
  }
}