 <nav class="side-nav">
     <ul>
         <li>
         
            <span>Carregar arquivos</span> 
         </li>

         <li>
           <span>Bookmarks</span> 
        </li>


        <li>
           <span>Arquivos Partilhados</span> &nbsp;<span class="badget">35</span>
        </li>

        <li>
           <span>Aulas</span> &nbsp;<span class="badget" id="badget-aulas">3</span>
        </li>


        <li>

           <span>Professores</span> &nbsp;<span class="badget" id="badget-professor">7</span>
        </li>


        <div>
            <li><h5>Customization</h5></li>
            <li><a>1- go to profile and then go back</a></li>
            <li><a>2- after that it'll works well</a></li>
        </div>
        
     </ul>
 </nav>