@import './../../../assets/page-content/color.scss';
.side-nav{
    position:fixed;
    width: 300px;
    height: 100vh;
    background:#303030;
    z-index:20;
    top:80px;
    bottom: 80;
    // overflow-y: scroll;
    color: #fff;
    font-family: GothanLight;
    box-shadow: 2px 1px 24px rgba(0,0,0,.4);
    ul{
        display: flex;
      list-style-type: none;
      flex-direction: column;
     div{
       li{
         margin:1.2em -1.5em;
         h5{
           margin:0 !important;
         }
       }
     }
    li {
      transition: .4s all ease-in;
        padding: 0.5em;
        margin-top: 2em;
        width:270px;
      // padding-left: 1em;
      // padding-right: -2em;
      margin-left: -2em;
      span{
        padding-left:.4em;
        svg{
          position: relative;
          top:.3em;
          // padding-top: 1.5em;
          // margin-top: 1.5em;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        
      }
      .badget{
          padding:.4em .4em;
          margin-left: 1em;
          position: relative;
          top:-.2em;
          margin-top:-5em !important;
          background: $footer;
          border-radius: 16em;
         &#badget-aulas{
            margin-left: 8.7em;
          }

          &#badget-professor{
            margin-left: 5.7em;
          }
      }
      &:hover{
          background: $footer;
          border-radius: 1px 15px 15px 1px;
          transition: .2s ease-in all;
         .badget{
             background-color: #fff;
            //  border-radius: 30%;
             color: #000;
         }
      }

      span{
        font-weight: 500;
        font-family: GothamLight;
    }

    }
    }

}
