.main-content{
 position:fixed;
 top: 80px;
 left:300px;
 right:0px;
//  bottom:400px;
 width: 100vw;
 height: 100vh;
 overflow-y: scroll;
 background: #1d1c1c;
 color: #fff;
 font-family: GothamMedium;
 padding: 1em 1em;
 padding-right: 16em;
 margin-bottom: 3em;
}