$white:#fff;
$footer:#5C3AED;
$headline:#413F3F;
$badge:#707070;
$opacity:30%;
$icons-color1:$footer;
$icons-color2:$white;
$header-gradient-1: linear-gradient(97deg,#bbb 100%,#797979 82%,#4e4e4e 71%,#000 49%,#000 100%,#000 100%);
$header-background:#000;
$header-opacity:0.3;
$header-gradient-2:linear-gradient(-150deg,#bbb 100%,#797979 82%,#4e4e4e 71%,#000 49%,#000 100%,#000 100%);
$water-mark-opacity:6%;
$green:#2BF35A;
$gradient-profile-1-colors:(
    'first':#F3462B,
    'second':#6851C9,
    'third x 3':#7A7592
);

$gradient-profile-1-opacity:(
    'first':100%,
    'second':67%,
    'third x 3 ':16%
);

$gradient-profile-2-colors:(
    'first':#2BF35A,
    'second':#6851C9,
    'third x 3':#7A7592
);

$gradient-profile-2-opacity:(
    'first':100%,
    'second':67%,
    'third x 3 ':16%
);

$gradient-profile-3-colors:(
    'first':#F25D07,
    'second':#6851C9,
    'third x 3':#7A7592
);

$gradient-profile-3-opacity:(
    'first':100%,
    'second':67%,
    'third x 3 ':16%
);